In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

Un breve informacion sobre los tados del dataframe

In [7]:
df=pd.read_csv('archivo/data.csv')

Un resumen sobre los tipos de datos que tiene , las columnas, cuantos valores nulos hay.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   object
 2   title           6810 non-null   object
 3   subtitle        2381 non-null   object
 4   authors         6738 non-null   object
 5   categories      6711 non-null   object
 6   thumbnail       6481 non-null   object
 7   description     6548 non-null   object
 8   published_year  6804 non-null   float64
 9   average_rating  6767 non-null   float64
 10  num_pages       6767 non-null   float64
 11  ratings_count   6767 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 638.6+ KB

Podemos ver los valores nulos en las columnas .

In [5]:
print(df.isna().sum())

isbn13               0
isbn10               0
title                0
subtitle          4429
authors             72
categories          99
thumbnail          329
description        262
published_year       6
average_rating      43
num_pages           43
ratings_count       43
dtype: int64

Lo siguiente es :
1. Limpieza de datos en los valores nulos con pandas.
2. Reemplazar el tipo de dato a la columna correspondiente(published_year,num_pages,ratings_count) , esta en valores flotantes, corregir esos tipos de datos.
3. Llevarlos a graficos.
4. Llevarlos a PowerBi.

En graficos podria tener:
1. ¿Cual fue el libro con mas raiting?
2. ¿Cual fue el libro con menos raiting?
3. ¿Cual fue el libro con mas calificaciones?
4. ¿Cual es el Autor con mayor libros publicados?

In [73]:
df.sample(5)

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
5036,9780805077810,0,The Nubian Prince,A Novel,Juan Bonilla,Fiction,http://books.google.com/books/content?id=TS3oZ...,A comic odyssey of a hapless hero ensnared by ...,2006,3.56,258,61
4988,9780802714626,0,Longitude,The True Story of a Lone Genius Who Solved the...,Dava Sobel;Neil Armstrong,Science,http://books.google.com/books/content?id=0v6DB...,Describes the forty-year effort of John Harris...,2005,3.96,192,43661
3046,9780451525260,0,Les Miserables a New Unabridged Translation,No subtitle,Victor Hugo,Fiction,http://books.google.com/books/content?id=x1mNs...,"After nineteen years in prison, Jean Valjean h...",1987,4.16,1463,559595
4688,9780764226465,0,A Higher Justice,No subtitle,James Scott Bell,Fiction,http://books.google.com/books/content?id=j6ENA...,A case involving a trolley accident pits Kit a...,2003,4.23,303,167
1315,9780231082815,0,Three Plays by Kobo Abe,No subtitle,Kōbō Abe,Fiction,http://books.google.com/books/content?id=D9Ggn...,Three plays by one of contemporary Japan's mos...,1993,3.91,233,76

Segun yo creo que esta mal eliminar los datos de una columna , si es que voy a utilzarlos mas adelante, yo me enfocare en hacer un grafico de algunas columnas y eliminarlos alterarria los graficos

In [9]:
#hacemos un parametro de mediana en la columna 
# fillna() necesita que le pasemos un parametro para eso hacemos lo anterior
mediana_año=df['published_year'].median()
df['published_year']=df['published_year'].fillna(mediana_año).astype(int)

Si vamos a convertir varias columnas a medianas o haremos cambios de lo mismo en varias columnas , podemos convertirlos en diccionarios y cambiarlos todo en un solo codigo.
Pero no podemos cambiar el tipo de dato en un diccionario.

In [43]:
medianas ={'published_year':df['published_year'].median(),
           'average_rating':df['average_rating'].median(),
           'num_pages':df['num_pages'].median(),
           'ratings_count':df['ratings_count'].median() 
}
df.fillna(value=medianas,inplace=True)


columnas_a_convertir=['published_year','num_pages','ratings_count']

df[columnas_a_convertir] = df[columnas_a_convertir].astype(int)

In [58]:
df['isbn10'] = df['isbn10'].str.replace(r'\D','',regex=True)

df['isbn10'] = pd.to_numeric(df['isbn10'],errors='coerce')

df['isbn10'] = df['isbn10'].fillna(0)

df['isbn10'] = df['isbn10'].astype(int)

In [21]:
df['subtitle']=df['subtitle'].fillna('No subtitle')
df['authors']=df['authors'].fillna('Unknown authors')
df['categories']=df['categories'].fillna('Uncategorized')
df['description']=df['description'].fillna('No Description Available')
df['thumbnail']=df['thumbnail'].fillna('NaN')

In [41]:
df.sample(5)

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
6628,9781862075948,1862075948,The Collected Tales of Nikolai Gogol,No subtitle,Nikolaĭ Vasilʹevich Gogolʹ;Richard Pevear,Short stories,http://books.google.com/books/content?id=7cNpf...,"A new, annotated translation of Gogol's classi...",2003,4.35,435,81
1052,9780143038108,0143038109,The Kitchen God's Wife,No subtitle,Amy Tan,Fiction,http://books.google.com/books/content?id=n0CzD...,"Winnie Louie, an aging Chinese woman convinced...",2006,4.00,416,64285
6650,9781884365300,1884365302,The Jungle,The Uncensored Original Edition,Upton Sinclair;Kathleen De Grave,Fiction,http://books.google.com/books/content?id=4cY-v...,The horrifying conditions of the Chicago stock...,2003,3.73,335,106675
4105,9780684841212,0684841215,Something Happened,No subtitle,Joseph Heller,Fiction,http://books.google.com/books/content?id=X-CIL...,Bob Slocum was living the American dream. He h...,1974,3.52,576,5983
3536,9780553582918,0553582917,Intensity,No subtitle,Dean Ray Koontz,Fiction,http://books.google.com/books/content?id=9X7qX...,The sole survivor of a homicidal sociopath's l...,2000,4.04,436,62698

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   int64
 2   title           6810 non-null   object
 3   subtitle        6810 non-null   object
 4   authors         6810 non-null   object
 5   categories      6810 non-null   object
 6   thumbnail       6810 non-null   object
 7   description     6810 non-null   object
 8   published_year  6810 non-null   int64
 9   average_rating  6810 non-null   float64
 10  num_pages       6810 non-null   int64
 11  ratings_count   6810 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 638.6+ KB

In [22]:
print(df.isna().sum())

isbn13            0
isbn10            0
title             0
subtitle          0
authors           0
categories        0
thumbnail         0
description       0
published_year    0
average_rating    0
num_pages         0
ratings_count     0
dtype: int64